// # VARIABLES
// - - - - - - - - - - - - - -

$maxxOrange: #FF9966;
$maxxGray: #363636;
$maxxYellow: #d5e00d;
$maxxTeal: #00CCCC;

// Fonts

$oswald: "Oswald", Arial, Helvetica, sans-serif;
$roboto: "Roboto", Arial, Helvetica, sans-serif;